@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>@ViewData["Title"]</title>

    <!-- Bootstrap core CSS -->
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
    <!--external css-->
    <link href="~/console/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/console/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="~/console/js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="~/console/lineicons/style.css">

    <!-- Custom styles for this template -->
    <link href="~/console/css/style.css" rel="stylesheet">
    <link href="~/console/css/style-responsive.css" rel="stylesheet">

    <script src="~/console/js/chart-master/Chart.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <section id="container">
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a asp-action="index" asp-controller="front" class="logo"><b>MP5 Lite</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme" style="display:none">4</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 4 pending tasks</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">DashGum Admin Panel</div>
                                        <div class="percent">40%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Database Update</div>
                                        <div class="percent">60%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Product Development</div>
                                        <div class="percent">80%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Payments Sent</div>
                                        <div class="percent">70%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">70% Complete (Important)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-envelope-o"></i>
                            <span id="userComment" class="badge bg-theme" style="display:none">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox" id="ajaxFather">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">你有 <span id="messageCount">5</span> 则新消息</p>
                            </li>
                            <div id="someAjax">
                                @*<li>
                                        <a href="#">
                                            <span class="photo"><img alt="avatar" src="~/console/img/ui-danro.jpg"></span>
                                            <span class="subject">
                                                <span class="from">Dan Rogers</span>
                                                <span class="time">2 hrs.</span>
                                            </span>
                                            <span class="message">
                                                Love your new Dashboard.
                                            </span>
                                        </a>
                                    </li>*@
                            </div>
                            @*<li>
                                <a href="index.html#">See all messages</a>
                            </li>*@
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a asp-action="loginout" asp-controller="console" class="logout">登出</a></li>
                </ul>
            </div>
        </header>
        <!--header end-->
        <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">

                    <p class="centered"><a href="profile.html"><img src="https://a.ppy.sh/1243669_1511267784.jpg" class="img-circle" width="60"></a></p>
                    <h5 class="centered">@ViewData["User"]</h5>

                    <li class="mt">
                        <a asp-action="index" class="@(ViewData["Current"].ToString()=="1"?"active":"")">
                            <i class="fa fa-dashboard"></i>
                            <span>总览</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a asp-action="command" class="@(ViewData["Current"].ToString()=="2"?"active":"")">
                            <i class="fa fa-terminal"></i>
                            <span>
                                控制台 @if (ViewData["Running"] != null)
                                {
                                    <span class="badge-hot" style="margin-left:4px; width:8px;height:8px;"></span>
                                }
                            </span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="@(ViewData["Current"].ToString()=="3"?"active":"")">
                            <i class="fa fa-puzzle-piece"></i>
                            <span>模组</span>
                        </a>
                        <ul class="sub">
                            <li><a asp-action="manage">Mod管理</a></li>
                            <li><a asp-action="upload">Mod上传</a></li>
                        </ul>
                    </li>
                    @*<li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-desktop"></i>
                                <span>UI Elements</span>
                            </a>
                            <ul class="sub">
                                <li><a href="general.html">General</a></li>
                                <li><a href="buttons.html">Buttons</a></li>
                                <li><a href="panels.html">Panels</a></li>
                            </ul>
                        </li>

                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-cogs"></i>
                                <span>Components</span>
                            </a>
                            <ul class="sub">
                                <li><a href="calendar.html">Calendar</a></li>
                                <li><a href="gallery.html">Gallery</a></li>
                                <li><a href="todo_list.html">Todo List</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-book"></i>
                                <span>Extra Pages</span>
                            </a>
                            <ul class="sub">
                                <li><a href="blank.html">Blank Page</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="lock_screen.html">Lock Screen</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-tasks"></i>
                                <span>Forms</span>
                            </a>
                            <ul class="sub">
                                <li><a href="form_component.html">Form Components</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="fa fa-th"></i>
                                <span>Data Tables</span>
                            </a>
                            <ul class="sub">
                                <li><a href="basic_table.html">Basic Table</a></li>
                                <li><a href="responsive_table.html">Responsive Table</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class=" fa fa-bar-chart-o"></i>
                                <span>Charts</span>
                            </a>
                            <ul class="sub">
                                <li><a href="morris.html">Morris</a></li>
                                <li><a href="chartjs.html">Chartjs</a></li>
                            </ul>
                        </li>*@

                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            @RenderBody()
        </section>
        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                &copy;@DateTime.Now.Year Milkitic. All Rights Reserved.
                <a href="#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>
    <!-- js placed at the end of the document so the pages load faster -->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script class="include" type="text/javascript" src="~/console/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/console/js/jquery.scrollTo.min.js"></script>
    <script src="~/console/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/console/js/jquery.sparkline.js"></script>


    <!--common script for all pages-->
    <script src="~/console/js/common-scripts.js"></script>

    <script type="text/javascript" src="~/console/js/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="~/console/js/gritter-conf.js"></script>

    <!--script for this page-->
    <script>
        $.post('/console/getmessages', function (result) {
            if (result.code == "200") {
                if (result.count == 0) {
                    $("#userComment").hide();
                    $("#someAjax").append('<li><a><span class="subject"><span class="message">暂无新消息</span></a></li>');
                    $("#userComment").text("0")
                    $("#messageCount").text("0")
                }
                else {
                    $("#userComment").show();
                    var data = result.data;
                    for (var i = 0; i < data.length; i++) {
                        $("#someAjax").append('<li><a><span class="subject"><span class="subject"><span class="from">' + HTMLEncode(data[i].userName) +
                            '</span><span class="time" title="' + data[i].serverTime + '">' + data[i].timeCountDown +
                            '</span></span><span class="message">' + HTMLEncode(data[i].comment) +
                            '</span><span class="message" style="color:#AAA;cursor:pointer" onclick="window.location.href=\'/console/markmessage?id=' + data[i].id +
                            '\'">标记</span></a></li>');
                    }
                    $("#ajaxFather").append('<li><a href="/console/markallmessages">标记全部</a></li>');
                    $("#userComment").text(result.count > 99 ? "99+" : result.count)
                    $("#messageCount").text(result.count)
                }

            }
        });

        function HTMLEncode(html) {
            var temp = document.createElement("div");
            (temp.textContent != null) ? (temp.textContent = html) : (temp.innerText = html);
            var output = temp.innerHTML;
            temp = null;
            return output;
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>